<!DOCTYPE html>
<html lang="en">
<head>
    <script src="index.js"></script>
    <link rel="stylesheet" href="C:\Users\sj02093\Desktop\programming\python\furniture_database-theschoolofstjude.co.tz\static\index.css">
    <link rel="stylesheet" href="C:\Users\sj02093\Desktop\programming\python\furniture_database-theschoolofstjude.co.tz\static\home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <header id="top-header">
        <div class="logo-container">
            <img src="C:\Users\sj02093\Desktop\programming\python\furniture_database-theschoolofstjude.co.tz\static\school logo.png" alt="logo">
        </div>
        <div class="header-contents">
            <div class="searchbox-container">
                <input type="search" placeholder="🔍... furniture number or owner">
            </div>
            <div class="header-links-container">
                <button id="login-button" type="button" onclick="showLoginContainer()">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="text">home</span>
                </button>
                <button class="notification-button">
                    <span class="icon"><i class="fas fa-bell"></i></span>
                    <span class="text">notifications</span>
                </button>
                <button class="settings-button">
                    <span class="icon"><i class="fas fa-gear"></i></span>
                    <span class="text">settings</span>
                </button>
            </div>
        </div>
    </header>
  
            <main id="main">
                <div id="login-container">
                    <h2>Login</h2>
                    <form method="POST">
                        <div class="input-group">
                            <label for="username">Username</label><br>
                            <input type="text" name="username" placeholder="Enter username" required>
                        </div><br>
                        <div class="input-group">
                            <label for="password">password</label><br>
                            <input type="password" name="password" placeholder="🔒Enter password" required>
                        </div><br>
                        <button id="login-submit">login</button>
                    </form>
                </div>
            </main>
</body>
</html>