<!DOCTYPE html>
<html lang="en">
<head>
    <script src="index.js"></script>
    <link rel="stylesheet" href="C:\Users\sj02093\Desktop\programming\python\furniture_database-theschoolofstjude.co.tz\static\index.css">
    <link rel="stylesheet" href="C:\Users\sj02093\Desktop\programming\python\furniture_database-theschoolofstjude.co.tz\static\new-entry.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new entry</title>
</head>
<body>
    <header id="top-header">
        <div class="logo-container">
            <img src="C:\Users\sj02093\Desktop\programming\python\furniture_database-theschoolofstjude.co.tz\static\school logo.png" alt="logo">
        </div>
        <div class="header-contents">
            <div class="searchbox-container">
                <input type="search" placeholder="🔍... furniture number or owner">
            </div>
            <div class="header-links-container">
                <button id="login-button" type="button" onclick="showLoginContainer()">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="text">home</span>
                </button>
                <button class="notification-button">
                    <span class="icon"><i class="fas fa-bell"></i></span>
                    <span class="text">notifications</span>
                </button>
                <button class="settings-button">
                    <span class="icon"><i class="fas fa-gear"></i></span>
                    <span class="text">settings</span>
                </button>
            </div>
        </div>
    </header>
    <div id="main">
        <aside class="side-nav">
                <div class="top-buttons-container">
                    <div class="buttons-container">
                        <button id="home" class="home-button">
                           <span class="icon"><i class="fas fa-home"></i></span>
                           <span class="text">Home</span>
                        </button>
                        
                    </div>
                    <div class="buttons-container">
                        <button id="newEntry" class="new-entry-button" href="/new">
                            <span class="icon"><i class="fas fa-square-plus"></i></span>
                            <span class="text">New</span>
                        </button>
                    </div>
                    <div class="buttons-container">
                        <button id="access" class="access-record-button" href="/access">
                            <span class="icon"><i class="fas fa-database"></i></span>
                            <span class="text">Access</span>
                        </button>
                    </div>
                    <div class="buttons-container">
                        <button id="update" class="update-record-button" href="/update">
                            <span class="icon"><i class="fas fa-edit"></i></span>
                            <span class="text">Update</span>
                        </button>
                    </div>
                    <div class="buttons-container">
                        <button id="delete" class="delete-record-button" href="/delete">
                            <span class="icon"><i class="fas fa-trash"></i></span>
                            <span class="text">Delete</span>
                        </button>
                    </div>
                </div>
                <div class="bottom-buttons-container">
                    <div class="buttons-container">
                        <button id="AccountInfo" class="account-info-button" href="/account">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <span class="text">Account</span>
                        </button>
                    </div>
                    <div class="buttons-container">
                        <button id="signout" class="signout-button" href="/logout">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="text">Logout</span>
                        </button>
                    </div>
                </div>
        </aside>
        <div class="main-right">
                <div class="new-entry-output">
                    {% if message %}
                        <p>{{ message }}</p>
                    {% endif %}
                    <table id="new-entry-table">
                        <tr>
                            <th>S/N</th>
                            <th>Username</th>
                            <th>User sjNo</th>
                            <th>Desk No</th>
                            <th>Chair No</th>
                            <th>Level</th>
                            <th>Stream</th>
                        </tr>
                    </table>
                </div>
               
                <div class="new-entry-form">
                    <h3>Create new data entry</h3>
                        <form method="POST" action="/new">
                            <div class="input-group">
                                <label>Username</label><br>
                                <input type="text" name='uname' required><br>
                             </div>
                            <div class="input-group">
                                <label>User Sj number</label>
                                 <input type="text" name="usersj"  required><br>
                             </div>
                            <div class="input-group">
                                <label>Desk number</label>
                                <input type="text" height="12" width="30" name="deskno" required><br>
                            </div>
                            <div class="input-group">
                                <label>Chair number</label>
                                <input type="text" name="chairno" required><br><br>
                            </div>

                            <label>Select level</label>
                            <select name="level">
                                <option value="form1">Form 1</option>
                                <option value="form2">Form 2</option>
                                <option value="form3">Form 3</option>
                                <option value="form4">Form 4</option>
                                <option value="form5">Form 5</option>
                                <option value="form6">Form 6</option>
                            </select>
                            <select name="stream"> stream
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                            </select><br><br>
             
                        <button id="new-entry-save">Save</button><br>
                        </form>
                </div>
        </div>
    </div>
</body>
</html>